/*
Throw some details in here - promote yourself!

Author= James Pellerano 
URL = http://japellerano.com 
Theme = Make it snappy :)
Theme description = Bit of a description - not an essay...							
*/


/*
and get styling!
try to remember to put the class ".webdesigntuts-workshop" before every style declaration, that way I won't have to come back and do it :) 
*/

.webdesigntuts-workshop 
{
	background-color: rgba(); /* dark gray */
}

.webdesigntuts-workshop ul
{
	list-style: none;
	display: block;
}

.webdesigntuts-workshop li
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.webdesigntuts-workshop li a
{
	background-image: url('images/gun_metal.png');
	background-repeat: repeat-x repeat-y;
	width: 100%;
	padding: 4px;
	text-decoration: none;
	color: rgba(); /* Yellow */
}

/*
when you're done, zip it all up and send it over to me here: http://www.formstack.com/forms/envato-tuts_workshop
*/