/*
Throw some details in here - promote yourself!

Author= James Pellerano 
URL = http://japellerano.com 
Theme = Make it snappy :)
Theme description = Bit of a description - not an essay...							
*/


/*
and get styling!
try to remember to put the class ".webdesigntuts-workshop" before every style declaration, that way I won't have to come back and do it :) 
*/

.webdesigntuts-workshop 
{
	background-color: rgba(100, 100, 100, 1.0); /* dark gray */
	width: 250px;
	height: 200px;
	float: left;
}

.webdesigntuts-workshop ul
{
	list-style: none;
	display: block;
}

.webdesigntuts-workshop li
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.webdesigntuts-workshop li:first-child
{
	padding-top: 0;
}

.webdesigntuts-workshop li:last-child
{
	padding-bottom: 0;
}

.webdesigntuts-workshop li a
{
	background-image: url('images/stripe.png');
	background-repeat: repeat-x repeat-y;
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
	text-decoration: none;
	color: rgba(255, 239, 0, 1.0); /* Yellow */
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	transition: color 1.5s ease;
	-webkit-transition: color 1.5s ease;
}

.webdesigntuts-workshop li a:hover
{
	color: rgba(255, 99, 71, 1.0);
}

/*
when you're done, zip it all up and send it over to me here: http://www.formstack.com/forms/envato-tuts_workshop
*/